body {
    margin: 0;
    padding: 0;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.container-data {
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    
    /* Tamanho do quadrado */
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    max-width: 600px;
    max-height: 500px;
    
    /* Centralização */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-wrapper {
    display: flex;
    justify-content: center;
}

.section {
    min-height: calc(100vh - 64px);
}

footer {
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex; /* Adiciona display flex */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

#city-input {
    width: 20rem;
}

#country {
    height: 30px;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

#description {
    font-weight: bold;
    text-transform: capitalize;
}

#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#humidity {
    border-right: 1px solid #000;
    margin: 0.5rem;
    padding: 0.5rem;
}

#city-country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 28px;
}

#city {
    margin: 10px;
}

#loader i {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}